@model Equipe

@{
    ViewData["Title"] = "Equipes";
}


<h1>Tela de Equipes</h1>

<form method="post" action="@Url.Action("cadastrar")">
    
    <label for="">Nome</label>
    <input type="text" name="Nome">

    <label for="">Imagem</label>
    <input type="text" name="Imagem">

    <button type="submit">Cadastrar</button>

</form>


<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>

    <tbody>
            @foreach (Equipe item in ViewBag.Equipe)
            {
            <tr>
                <td>@item.IdEquipe</td>
                <td>@item.Nome</td>
                <td>@item.Imagem</td>
            </tr>
            }
    </tbody>

    </thead>
</table>